# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# Database Configuration
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

POSTGRES_PRODUCTION_URL=

# CORS Settings
CORS_ORIGIN="http://localhost:8080" # Allowed CORS origin, adjust as necessary
FRONTEND_URL=

# Supabase
BUCKET=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000"  # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP
